/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Services
- Details 1
- Details 2
- Features
- Testimonials
- Customers
- Invitation
- Contact
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - light gray #fcfafb
- Buttons, icons - blue #0092ff
- Buttons, icons - red #ef473d
- Headings text - black #223150
- Body text - dark gray #5e6576
******************************************/


/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #5e6576; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
	color: #223150;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	letter-spacing: -0.4px;
}

h2 {
	color: #223150;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
	letter-spacing: -0.4px;
}

h3 {
	color: #223150;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.2px;
}

h4 {
	color: #223150;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: -0.2px;
}

h5 {
	color: #223150;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
}

h6 {
	color: #223150;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #5e6576;
	text-decoration: underline;
}

a:hover {
	color: #5e6576;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.read-more {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.read-more .fas {
	margin-left: 0.625rem;
	font-size: 1rem;
	vertical-align: -8%;
}

.blue {
	color: #0092ff;
}

.bg-gray {
	background-color: #fcfafb;
}

.section-title {
	margin-bottom: 0.5rem;
	color: #ef473d;
	font-weight: 600;
	font-size: 0.875rem;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #0092ff;
	border-radius: 30px;
	background-color: #0092ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #0092ff; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #0092ff;
	border-radius: 30px;
	background-color: #0092ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #0092ff; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #0092ff;
	border-radius: 30px;
	background-color: #0092ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-sm:hover {
	background-color: transparent;
	color: #0092ff; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #ef473d;
	border-radius: 30px;
	background-color: transparent;
	color: #ef473d;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #ef473d;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #ef473d;
	border-radius: 30px;
	background-color: transparent;
	color: #ef473d;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #ef473d;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #ef473d;
	border-radius: 30px;
	background-color: transparent;
	color: #ef473d;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #ef473d;
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-control-input,
.form-control-textarea {
	width: 100%;
	padding-top: 0.875rem;
	padding-bottom: 0.875rem;
	padding-left: 1.5rem;
	border: 1px solid #cbcbd1;
	border-radius: 8px;
	background-color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.5rem;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-textarea {
	display: block;
	height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
}

.form-control-input:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #0092ff;
	border-radius: 30px;
	background-color: #0092ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid #0092ff;
	background-color: transparent;
	color: #0092ff;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: #e8e6e7;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 126px;
	height: 32px;
}

.navbar .logo-text {
	color: #223150;
	font-weight: 700;
	font-size: 1.875rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #fcfafb;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #5e6576;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #0092ff;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	border: none;
	background-color: #fcfafb;
}

.navbar .dropdown-item {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #5e6576;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #fcfafb;
	color: #0092ff;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #d1d1d1;
}
/* end of dropdown menu */

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/******************/
/*     Header     */
/******************/
.header {
	padding-top: 8rem;
	padding-bottom: 4em;
	background: url('../images/header-background.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.header .h1-large {
	margin-bottom: 1.75rem;
}

.header .p-large {
	margin-bottom: 2.25rem;
}

.header .image-container {
	margin-top: 5rem;
}


/********************/
/*     Services     */
/********************/
.cards-1 {
	padding-top: 5rem;
	padding-bottom: 2.25em;
}

.cards-1 h2 {
	margin-bottom: 3.5rem;
}

.cards-1 .card {
	margin-bottom: 5rem;
	border: none;
	background-color: transparent;
}

.cards-1 .card-icon {
	width: 66px;
	height: 66px;
	margin-bottom: 1.875rem;
	border-radius: 8px;
	background-color: #ddedfb;
	text-align: center;
}

.cards-1 .card-icon .fas,
.cards-1 .card-icon .far {
	color: #0092ff;
	font-size: 2rem;
	line-height: 66px;
}

.cards-1 .card-icon.red {
	background-color: #fbe4e4;
}

.cards-1 .card-icon.red .fas,
.cards-1 .card-icon.red .far {
	color: #ef473d;
}

.cards-1 .card-icon.green {
	background-color: #e0f4ea;
}

.cards-1 .card-icon.green .fas,
.cards-1 .card-icon.green .far {
	color: #16c66d;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-title {
	margin-bottom: 1.125rem;
}

.cards-1 .card-body p {
	margin-bottom: 1.125rem;
}

.cards-1 .read-more {
	color: #223150;
}

.cards-1 .read-more .fas {
	color: #223150;
}


/*********************/
/*     Details 1     */
/*********************/
.basic-1 {
	padding-top: 2.25rem;
	padding-bottom: 4.75rem;
	background: linear-gradient(rgb(252, 250, 251), rgb(255, 255, 255));
}

.basic-1 .image-container {
	margin-bottom: 4rem;
}

.basic-1 h2 {
	margin-bottom: 1.75rem;
}

.basic-1 p {
	margin-bottom: 2rem;
}


/*********************/
/*     Details 2     */
/*********************/
.basic-2 {
	padding-top: 4.5rem;
	padding-bottom: 9.5rem;
	background: url('../images/details-2-background.jpg') center center no-repeat;
	background-size: cover;
}

.basic-2 .text-container {
	margin-bottom: 4rem;
}

.basic-2 h2 {
	margin-bottom: 1.75rem;
}

.basic-2 p {
	margin-bottom: 2rem;
}


/********************/
/*     Features     */
/********************/
.accordion-1 {
	padding-top: 9.25rem;
	padding-bottom: 9.75rem;
	background: url('../images/features-background.jpg') center center no-repeat;
	background-size: cover;
}

.accordion-1 .h2-heading {
	margin-bottom: 1rem;
	color: #ffffff;
	text-align: center;
}

.accordion-1 .p-heading {
	margin-bottom: 4rem;
	color: #ffffff;
	text-align: center;
}

.accordion-1 .accordion {
	margin-bottom: 5rem;
}

.accordion-1 .accordion-item {
	margin-bottom: 2.5rem;
	border: none;
	border-radius: 0;
	background-color: transparent;
}

.accordion-1 .accordion-item:last-of-type {
	margin-bottom: 0;
}

.accordion-1 .accordion-icon {
	position: absolute;
	width: 44px;
	height: 44px;
	border-radius: 4px;
	text-align: center;
	background-color: #14be9f;
}

.accordion-1 .accordion-icon.blue {
	background-color: #1d79fb;
}

.accordion-1 .accordion-icon.purple {
	background-color: #dc63ff;
}

.accordion-1 .accordion-icon.orange {
	background-color: #ff6c02;
}

.accordion-1 .accordion-icon .fas {
	color: #ffffff;
	font-size: 1.25rem;
	line-height: 44px;
}

.accordion-1 .accordion-header {
	margin-left: 4.125rem;
	padding: 0.5rem 0 0.5rem 0;
	border: none;
	background-color: transparent;
}

.accordion-1 .accordion-header button {
	padding: 0;
	border: none;
	background-color: transparent;
	color: #ffffff;
	box-shadow: none;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
	letter-spacing: -0.4px;
	text-align: left;
}

.accordion-1 .accordion-header button:after {
	display: none;
}

.accordion-1 .accordion-body {
	margin-left: 4.125rem;
	padding: 0.375rem 0 0 0;
	color: #ffffff;
}


/************************/
/*     Testimonials     */
/************************/
.cards-2 {
	padding-top: 9.5rem;
	padding-bottom: 2.25rem;
	text-align: center;
}

.cards-2 .h2-heading {
	margin-bottom: 3.75rem;
}

.cards-2 .card {
	position: relative;
	margin-bottom: 5rem;
	border-radius: 10px;
	box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.1);
}

.cards-2 .card .quotes {
	position: absolute;
	top: -15px;
	right: 0;
	left: 0;
	width: 48px;
	margin-right: auto;
	margin-left: auto;
}

.cards-2 .card-body {
	padding: 3.5rem 2rem 3.125rem 2rem;
}

.cards-2 .testimonial-author {
	margin-bottom: 0.125rem;
	color: #223150;
}

.cards-2 .occupation {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.cards-2 .card .gradient-floor {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 10px;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.cards-2 .card .gradient-floor.red-to-blue {
	background: linear-gradient(to right, #ef3d91, #0092ff);
}

.cards-2 .card .gradient-floor.blue-to-purple {
	background: linear-gradient(to right, #0092ff, #637eff);
}

.cards-2 .card .gradient-floor.purple-to-green {
	background: linear-gradient(to right, #637eff, #16c66d);
}


/********************/
/*    Customers     */
/********************/
.slider-1 {
	padding-top: 2rem;
	padding-bottom: 3.75rem;
	background: linear-gradient(rgb(252, 250, 251), rgb(255, 255, 255));
	text-align: center;
}

.slider-1 h4 {
	margin-bottom: 0.25rem;
}

.slider-1 .section-divider {
	margin-bottom: 1rem;
}

.slider-1 .slider-container {
	margin-bottom: 0.5rem;
	padding: 1rem 0;
}


/**********************/
/*     Invitation     */
/**********************/
.basic-3 {
	padding-top: 4rem;
	background-size: cover;
	text-align: center;
}

.basic-3 .text-container {
	padding: 5rem 1.5rem 5.5rem 1.5rem;
	border-radius: 28px;
	background: url('../images/invitation-background.jpg') center center no-repeat;
	background-size: cover;
}

.basic-3 h2 {
	margin-bottom: 1rem;
	color: #ffffff;
}

.basic-3 .p-large {
	margin-bottom: 2.75rem;
	color: #ffffff;
}

.basic-3 .btn-solid-lg {
	border-color: #16c66d;
	background-color: #16c66d;
}

.basic-3 .btn-solid-lg:hover {
	border-color: #ffffff;
	background-color: transparent;
	color: #ffffff;
}


/*******************/
/*     Contact     */
/*******************/
.form-1 {
	padding-top: 9.5rem;
	padding-bottom: 8.75rem;
}

.form-1 .text-container {
	margin-bottom: 4rem;
}

.form-1 .section-divider {
	margin-bottom: 1rem;
}

.form-1 h2 {
	margin-bottom: 1.75rem;
}

.form-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.form-1 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}


/******************/
/*     Footer     */
/******************/
.footer {
	position: relative;
	/* padding-top: 7.5rem; */
	/* padding-bottom: 6rem; */
	text-align: center;
}

.footer .decoration-circles {
	position: absolute;
	top: 96px;
	left: -60px;
}

.footer div[class*="col"] {  
	/* selects all elements which have classes starting with col */
	/* needed so that the absolute positioned decoration stays behind */
	position: relative;
}

.footer a {
	color: #223150;
	text-decoration: none;
}

.footer h4 {
	margin-bottom: 1.875rem;
}

.footer .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #0092ff;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #0092ff;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-top: 1.5rem;
	border-top: 1px solid #d0dae2;
	text-align: center;
}

.copyright a {
	text-decoration: none;
}

.copyright .list-unstyled,
.copyright .statement {
	opacity: 0.7;
}


/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
	position: fixed; 
  	z-index: 99; 
	bottom: 20px; 
	right: 20px; 
	display: none; 
	width: 52px;
	height: 52px;
	border: none; 
	border-radius: 50%; 
	outline: none; 
	background-color: #44434a; 
	cursor: pointer; 
}

#myBtn:hover {
	background-color: #1d1d21;
}

#myBtn img {
	margin-bottom: 0.25rem;
	width: 18px;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 9rem;
	padding-bottom: 5rem;
	background-color: #fcfafb;
}

.ex-basic-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #fcfafb;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #0092ff;
}

.ex-cards-1 .card .fa-stack-1x {
	width: 2em;
	color: #ffffff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 {
	margin-left: 2.25rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.5rem;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header {
		padding-top: 9rem;
		padding-bottom: 5em;
	}

	.header .h1-large {
		font-size: 3.25rem;
		line-height: 3.75rem;
	}
	/* end of header */


	/* Statistics */
	.counter .counter-cell {
		display: inline-block;
		margin-right: 1.5rem;
		margin-left: 1.5rem;
		vertical-align: top;
	}
	/* end of statistics */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: #fcfafb;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: #fcfafb;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}

	.navbar .dropdown-menu {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .nav-item .btn-solid-sm {
		margin-top: 0;
		margin-left: 1rem;
	}
	/* end of navigation */


	/* Header */
	.header {
		text-align: left;
	}

	.header .text-container {
		margin-top: 4rem;
	}

	.header .image-container {
		margin-top: 0;
	}

	.header .btn-solid-lg,
	.header .btn-outline-lg {
		margin-right: 0;
		margin-left: 0;
	}
	
	.header .btn-solid-lg {
		margin-right: 0.5rem;
	}
	/* end of header */


	/* Services */
	.cards-1 .card {
		display: inline-block;
		width: 286px;
		vertical-align: top;
	}
	
	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2rem;
		margin-left: 2rem;
	}
	/* end of services */


	/* Details 1 */
	.basic-1 .image-container {
		margin-bottom: 0;
	}

	.basic-1 .text-container {
		margin-top: 2rem;
	}
	/* end of details 1 */
	
	
	/* Details 2 */
	.basic-2 .text-container {
		margin-top: 3rem;
		margin-bottom: 0;
	}
	/* end of details 2 */


	/* Testimonials */
	.cards-2 .card {
		display: inline-block;
		width: 298px;
		vertical-align: top;
	}
	
	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of testimonials */


	/* Invitation */
	.basic-3 .text-container {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.basic-3 h2 {
		width: 42rem;
		margin-right: auto;
		margin-left: auto;
	}

	.basic-3 .p-large {
		width: 35rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of invitation */


	/* Footer */
	.footer h4 {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of footer */


	/* Copyright */
	.copyright {
		text-align: left;
	}

	.copyright .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}

	.copyright .statement {
		text-align: right;
	}
	/* end of copyright */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of extra pages */
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {
	
	/* General Styles */
	.container {
		max-width: 1140px;
	}
	/* end of general styles */
	

	/* Header */
	.header {
		overflow: hidden;
		padding-top: 20.25rem;
		padding-bottom: 15rem;
	}

	.header .text-container {
		margin-top: 0;
	}

	.header .image-container {
		position: relative;
	}
	
	.header .image-container img {
		position: absolute;
		bottom: -520px;
		left: 60px;
		max-width: none;
	}
	/* end of header */


	/* Services */
	.cards-1 .card {
		width: 310px;
	}
	
	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 5.5rem;
		margin-left: 5.5rem;
	}
	/* end of services */


	/* Details 1 */
	.basic-1 .text-container {
		margin-top: 5rem;
		margin-left: 2.75rem;
	}
	/* end of details 1 */


	/* Details 2 */
	.basic-2 .text-container {
		margin-top: 6rem;
		margin-right: 3rem;
	}

	.basic-2 .image-container {
		text-align: right;
	}
	/* end of details 2 */


	/* Features */
	.accordion-1 .accordion {
		margin-bottom: 0;
	}

	.accordion-1 .image-container {
		text-align: right;
	}
	/* end of features */


	/* Testimonials */
	.cards-2 .card {
		width: 356px;
	}
	
	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 1.125rem;
		margin-left: 1.125rem;
	}
	/* end of testimonials */


	/* Invitation */
	.basic-3 .text-container {
		padding-top: 8rem;
		padding-bottom: 8.5rem;
	}
	/* end of invitation */


	/* Contact */
	.form-1 .text-container {
		margin-top: 1.5rem;
		margin-right: 2.75rem;
	}
	
	.form-1 form {
		margin-left: 2.75rem;
	}
	/* end of contact */


	/* Footer */
	.footer .decoration-circles {
		left: 0;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of extra pages */
}
/* end of min-width 1200px */

.section_our_solution .row {
	align-items: center;
  }
  
  .our_solution_category {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  }
  .our_solution_category .solution_cards_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  .solution_cards_box .solution_card {
	flex: 0 50%;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
	  0 5px 15px 0 rgba(37, 44, 97, 0.15);
	border-radius: 15px;
	margin: 8px;
	padding: 10px 15px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	min-height: 265px;
	transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover {
	background: #309df0;
	color: #fff;
	transform: scale(1.1);
	z-index: 9;
  }
  
  .solution_cards_box .solution_card:hover::before {
	background: rgb(85 108 214 / 10%);
  }
  
  .solution_cards_box .solution_card:hover .solu_title h3,
  .solution_cards_box .solution_card:hover .solu_description p {
	color: #fff;
  }
  
  .solution_cards_box .solution_card:before {
	content: "";
	position: absolute;
	background: rgb(85 108 214 / 5%);
	width: 170px;
	height: 400px;
	z-index: -1;
	transform: rotate(42deg);
	right: -56px;
	top: -23px;
	border-radius: 35px;
  }
  
  .solution_cards_box .solution_card:hover .solu_description button {
	background: #fff !important;
	color: #309df0;
  }
  
  .solution_card .so_top_icon {
  }
  
  .solution_card .solu_title h3 {
	color: #212121;
	font-size: 1.3rem;
	margin-top: 13px;
	margin-bottom: 13px;
  }
  
  .solution_card .solu_description p {
	font-size: 15px;
	margin-bottom: 15px;
  }
  
  .solution_card .solu_description button {
	border: 0;
	border-radius: 15px;
	background: linear-gradient(
	  140deg,
	  #42c3ca 0%,
	  #42c3ca 50%,
	  #42c3cac7 75%
	) !important;
	color: #fff;
	font-weight: 500;
	font-size: 1rem;
	padding: 5px 16px;
  }
  
  .our_solution_content h1 {
	text-transform: capitalize;
	margin-bottom: 1rem;
	font-size: 2.5rem;
  }
  .our_solution_content p {
  }
  
  .hover_color_bubble {
	position: absolute;
	background: rgb(54 81 207 / 15%);
	width: 100rem;
	height: 100rem;
	left: 0;
	right: 0;
	z-index: -1;
	top: 16rem;
	border-radius: 50%;
	transform: rotate(-36deg);
	left: -18rem;
	transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover .hover_color_bubble {
	top: 0rem;
  }
  
  .solution_cards_box .solution_card .so_top_icon {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #fff;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .solution_cards_box .solution_card .so_top_icon img {
	width: 40px;
	height: 50px;
	object-fit: contain;
  }
  
  /*start media query*/
  @media screen and (min-width: 320px) {
	.sol_card_top_3 {
	  position: relative;
	  top: 0;
	}
  
	.our_solution_category {
	  width: 100%;
	  margin: 0 auto;
	}
  
	.our_solution_category .solution_cards_box {
	  flex: auto;
	}
  }
  @media only screen and (min-width: 768px) {
	.our_solution_category .solution_cards_box {
	  flex: 1;
	}
  }
  @media only screen and (min-width: 1024px) {
	.sol_card_top_3 {
	  position: relative;
	  top: -3rem;
	}
	.our_solution_category {
	  width: 50%;
	  margin: 0 auto;
	}
  }


  .breadcrumbs {
	padding: 140px 0 60px 0;
	min-height: 30vh;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }
  
  .breadcrumbs:before {
	content: "";
	background-color: rgba(27, 47, 69, 0.7);
	position: absolute;
	inset: 0;
  }
  
  .breadcrumbs h2 {
	font-size: 56px;
	font-weight: 500;
	color: #fff;
	font-family: var(--font-secondary);
  }
  
  .breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0 0 10px 0;
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	color: var(--color-primary);
  }
  
  .breadcrumbs ol a {
	color: rgba(255, 255, 255, 0.8);
	transition: 0.3s;
  }
  
  .breadcrumbs ol a:hover {
	text-decoration: underline;
  }
  
  .breadcrumbs ol li+li {
	padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
	display: inline-block;
	padding-right: 10px;
	color: #fff;
	content: "/";
  }


  /* Feature Box
---------------------*/
.feature-box-1 {
	padding: 32px;
	box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
	margin: 15px 0;
	position: relative;
	z-index: 1;
	border-radius: 10px;
	overflow: hidden;
	-moz-transition: ease all 0.35s;
	-o-transition: ease all 0.35s;
	-webkit-transition: ease all 0.35s;
	transition: ease all 0.35s;
	top: 0;
  }
  .feature-box-1 * {
	-moz-transition: ease all 0.35s;
	-o-transition: ease all 0.35s;
	-webkit-transition: ease all 0.35s;
	transition: ease all 0.35s;
  }
  .feature-box-1 .icon {
	width: 70px;
	height: 70px;
	line-height: 70px;
	background: #44a1f2;
	color: #ffffff;
	text-align: center;
	border-radius: 50%;
	margin-bottom: 22px;
	font-size: 27px;
  }
  .feature-box-1 .icon i {
	line-height: 70px;
  }
  .feature-box-1 h5 {
	color: #626386;
	font-weight: 600;
  }
  .feature-box-1 p {
	margin: 0;
  }
  .feature-box-1:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: auto;
	right: 0;
	border-radius: 10px;
	width: 0;
	background: #2e2f4f;
	z-index: -1;
	-moz-transition: ease all 0.35s;
	-o-transition: ease all 0.35s;
	-webkit-transition: ease all 0.35s;
	transition: ease all 0.35s;
  }
  .feature-box-1:hover {
	top: -5px;
  }
  .feature-box-1:hover h5 {
	color: #ffffff;
  }
  .feature-box-1:hover p {
	color: rgba(255, 255, 255, 0.8);
  }
  .feature-box-1:hover:after {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	left: 0;
	right: auto;
  }

  /*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
	overflow: hidden;
	padding: 80px 0;
  }
  
  .section-header {
	text-align: center;
	padding-bottom: 30px;
  }
  
  .section-header h2 {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
  }
  
  .section-header h2:after {
	content: "";
	position: absolute;
	display: block;
	width: 60px;
	height: 2px;
	background: var(--color-primary);
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
  }
  
  .section-header p {
	margin-bottom: 0;
  }

  .counter{
	color: #fff;
	background: linear-gradient(to right bottom, #FFD81B, #f9b12a);
	font-family: 'Dosis', sans-serif;
	text-align: center;
	width: 180px;
	height: 180px;
	padding: 40px 20px 20px;
	margin: 0 auto;
	border-radius: 10px 10px 100px 100px;
	box-shadow: 0 0 15px -5px rgba(0,0,0,0.3);
	overflow: hidden;
	position: relative;
	z-index: 1;
	}
	.counter:after{
	content: '';
	background-color: #f9b12a;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	}
	.counter .counter-value{
	font-size: 55px;
	font-weight: 600;
	line-height: 40px;
	margin: 0 0 15px;
	display: block;
	}
	.counter h3{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 0 20px;
	}
	.counter.green{ background: linear-gradient(to right bottom, #a9dd23, #52C242); }
	.counter.green:after{ background: #52C242; }
	.counter.cgreen{ background: linear-gradient(to right bottom, #01AD9F, #008888); }
	.counter.cgreen:after{ background: #008888; }
	.counter.blue{ background: linear-gradient(to right bottom, #00C5EF, #0092f4); }
	.counter.blue:after{ background: #0092f4; }
	@media screen and (max-width:990px){
	.counter{ margin-bottom: 40px; }
	}

	/* .col_white_amrc { color:#FFF;}
	footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
	.pt2 { padding-top:40px ; margin-bottom:20px ;}
	footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
	.mb10 { padding-bottom:15px ;}
	.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
	.footer_ul_amrc li {padding:0px 0px 5px 0px;}
	.footer_ul_amrc li a{ color:#CCC;}
	.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
	.fleft { float:left;}
	.padding-right { padding-right:10px; }
	
	.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
	.footer_ul2_amrc li p { display:table; }
	.footer_ul2_amrc li a:hover { text-decoration:none;}
	.footer_ul2_amrc li i { margin-top:5px;}
	
	.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
	.foote_bottom_ul_amrc {
		list-style-type:none;
		padding:0px;
		display:table;
		margin-top: 10px;
		margin-right: auto;
		margin-bottom: 10px;
		margin-left: auto;
	}
	.foote_bottom_ul_amrc li { display:inline;}
	.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}
	
	.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
	.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
	.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
	.social_footer_ul li i {  width:20px; height:20px; text-align:center;} */

	/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
	font-size: 14px;
  }
  
  .footer .footer-content {
	background-color: #f7f9fc;
	background-size: contain;
	padding: 60px 0 30px 0;
  }
  
  .footer .footer-content .footer-info {
	margin-bottom: 30px;
  }
  
  .footer .footer-content .footer-info .logo {
	line-height: 0;
	margin-bottom: 25px;
  }
  
  .footer .footer-content .footer-info .logo img {
	max-height: 40px;
	margin-right: 6px;
  }
  
  .footer .footer-content .footer-info .logo span {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	color: var(--color-secondary);
	font-family: var(--font-secondary);
	margin-top: 3px;
  }
  
  .footer .footer-content .footer-info p {
	font-size: 15px;
	margin-bottom: 0;
	font-family: var(--font-primary);
	color: var(--color-secondary);
  }
  
  .footer .footer-content .social-links a {
	font-size: 14px;
	line-height: 0;
	display: inline-block;
	width: 32px;
	height: 32px;
	color: rgba(27, 47, 69, 0.5);
	margin-right: 10px;
	transition: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary);
	color: #fff;
	border-radius: 50px;
  }
  
  .footer .footer-content .social-links a:hover {
	background-color: #38618e;
  }
  
  .footer .footer-content h4 {
	font-size: 16px;
	font-weight: bold;
	color: #29486a;
	position: relative;
	padding-bottom: 12px;
  }
  
  .footer .footer-content .footer-links {
	margin-bottom: 30px;
  }
  
  .footer .footer-content .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .footer .footer-content .footer-links ul i {
	margin-right: 2px;
	color: var(--color-primary);
	font-size: 16px;
	line-height: 0;
  }
  
  .footer .footer-content .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
  }
  
  .footer .footer-content .footer-links ul li:first-child {
	padding-top: 0;
  }
  
  .footer .footer-content .footer-links ul a {
	color: #31547c;
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
  }
  
  .footer .footer-content .footer-links ul a:hover {
	color: var(--color-primary);
  }
  
  .footer .footer-content .footer-contact p {
	line-height: 26px;
	color: var(--color-secondary);
  }
  
  .footer .footer-legal {
	background: #fff;
	padding: 30px 0;
  }
  
  .footer .footer-legal .copyright {
	text-align: center;
	color: var(--color-secondary);
  }
  
  .footer .footer-legal .credits {
	padding-top: 4px;
	text-align: center;
	font-size: 13px;
	color: var(--color-secondary);
  }

  .col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

  /*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {
	background: url("../img/contact-bg.png") left top no-repeat;
	background-size: contain;
	position: relative;
  }
  
  @media (max-width: 640px) {
	.contact {
	  background-position: center 50px;
	}
  }
  
  .contact:before {
	content: "";
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
  }
  
  .contact .info-item+.info-item {
	margin-top: 40px;
  }
  
  .contact .info-item i {
	font-size: 20px;
	background: var(--color-primary);
	color: #fff;
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
	margin-right: 15px;
  }
  
  .contact .info-item h4 {
	padding: 0;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
	color: #1c88ba;
  }
  
  .contact .info-item p {
	padding: 0;
	margin-bottom: 0;
	font-size: 14px;
  }
  
  .contact .php-email-form {
	width: 100%;
  }
  
  .contact .php-email-form .form-group {
	padding-bottom: 8px;
  }
  
  .contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #df1529;
	text-align: left;
	padding: 15px;
	font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
	margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #059652;
	text-align: center;
	padding: 15px;
	font-weight: 600;
  }
  
  .contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #059652;
	border-top-color: #fff;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
	padding: 12px 15px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
	border-color: var(--color-primary);
  }
  
  .contact .php-email-form textarea {
	padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
	background: #1f98d1;
	border: 0;
	padding: 12px 40px;
	color: #fff;
	transition: 0.4s;
  }
  
  .contact .php-email-form button[type=submit]:hover {
	background: var(--color-primary);
  }
  
  @-webkit-keyframes animate-loading {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes animate-loading {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }